<!doctype html>
<html lang="{{ request.locale.iso_code }}" class="{% render 'color-scheme', scheme: sections['main'].settings.color_scheme %}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% render 'css-variables' %}
    {{ 'critical.css' | asset_url | stylesheet_tag: preload: true }}
    {% render 'meta-tags' %}

    <style>
      html, body {
        min-height: 100vh;
      }
      body {
        display: flex;
        flex-direction: column;
      }
      .main-password {
        flex: 1;
        display: flex;
        align-items: center;
      }
    </style>

    {{ content_for_header }}
  </head>

  <body class="{% render 'color-scheme', scheme: sections['main'].settings.color_scheme %}">
    {% render 'icons-sprite' %}
    {{ content_for_layout }}
  </body>
</html>
